.dish-container{
display: flex;
flex-direction: row;
}

.dish-detail-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comment-container{
  display: flex;
  flex-direction: column;
  border: red solid 2px;
  font-size: large;
}
